
html{
    scroll-behavior: smooth;
    
}
body{
    overflow-x: hidden;
}

.intro-section{
    height: 100vh;
    background-color: cyan;
    /* margin-top: 4.5rem; */
}

.navbar{
    transition: transform .5s;
}

.movables{
    height: 5rem;
    width: 100%;
    overflow: hidden;
  
}

.movable-container{
    width: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: Moving-bar 15s linear infinite;
    transform: translateX(100%);

}

.movable-container > div{
    font-size:30px;
    /* margin: 0 1rem; */
}

.blob-container{
    position: relative;
}

.blob-1{
    width : 60%;
    max-height: auto;
    position: absolute;
    right : -25%;
    top : -50%;
    /* border: 2px solid black; */
}

@keyframes Moving-bar {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-150%);
    }
}

.card-box{
    position: relative;
    height: 20rem;
    border-radius: 10px;
    transform: perspective(1000px);
    perspective: 1000px;
   
}

.front-side, .back-side{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
    perspective: 1000px;
    border-radius: 10px;



}

.front-side{
    transform: rotateY(0deg);
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-side{
    transform: rotateY(-180deg);
    
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}

.card-box:hover .front-side{
    transform: rotateY(180deg);
}

.card-box:hover .back-side{
transform: rotateY(0deg);
}

/* About us  */
.aboutus-section h3{
    margin-bottom: 5rem;
}

.profile-container{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
}

.profile-container > *{
    position: absolute;
    top : 0;
    left : 0;

    width: inherit;
    height: inherit;
    border-radius: inherit;
    text-align: center;
}
.profile-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    font-size: 16px;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform .5s, opacity .5s;
}

.profile-container:hover p{
    transform: translateX(0);
    opacity: 1;
}

.about-movable{
    width  : 60%;
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 5rem !important;
}

.about-movable-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2.5rem;
    height: inherit;
    transform: translate(100%);
    animation: Moving-bar 10s linear infinite;
}

.about-movable-container div{
    margin-right: 2rem ;
}

.about-movable-logo{
    width: 5rem;
    height : 5rem;
}

/* Testimonial */
/* .team-box{
    background-color: #fff;
}
*/

.case-sec{
    background-image: linear-gradient(
90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../assets/stock.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 20%);
    height: 40vh;
    margin-top: 5rem;
}

.case-sec > div{
    width: 50%;
    height:inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-size: 16px;
}


.para-cont{
    width: 100%;
    height: 50%;
}


.testimonial-section{
    margin-top: 5rem;
}
.testimonial-section h3{
    margin-bottom: 5rem;
}
.team-box img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 80px;
    margin-bottom:-1rem;
    outline:10px solid #fff;
    height: auto; 
}

.team-box p{
    text-align: center;

}

footer{
    background-color: #020218;
    color : #fff;
    overflow: hidden;
}

footer section > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}


.dark-blue{
    background-color: #020218;
}

@media screen and (max-width : 480px) {
    body{
        overflow-x: hidden;
    }

    .intro-section{
        margin-top: 2rem;
    }

    .blob-1{
        display: none;
    }

    .password{
        margin-top: 1rem;
    }
}