.nav-towards-down{
    transform: translateY(-100%);
    opacity: 0;
}

.towards-right{
    transform: translateX(-20%);
    opacity: 0;
}

.towards-left{
    transform : translateX(20%);
    opacity: 0;
}

.towards-up{
    transform: translateY(100%);
    opacity: 0;
}