* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
:root {
  /* --primary-color: #960000; */
  --secondary-color: #040455;
  --tertiary-color: #beac04;
}
html {
  font-size: 62.5%;
}

body {
  /* background-color: #261C2C; */
  font-size: 1.6rem;
  /* color: #fff; */
  font-family: Helvetica, sans-serif;
  /* overflow-x: hidden; */
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.mob-nav-btn{
  display: none;
}

.mobile-nav{
  display: none;
}

.nav-bar {
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-btn {
  font-size: 2rem;
  /* color: var(--secondary-color); */
  font-weight: 600;
}

.checkbox-container{
  width: 4rem;
  height: 2rem;
  border-radius: 100px;
  border : 2px solid black;

  position: relative;
  z-index: 10;
  transition: all 1s;

}

.border-style{
  border : 2px solid #fff !important;
}

.checkbox{
  /* opacity: 0; */
  /* position: relative; */
  position: absolute;
  top : -5%;
  /* left: -3%; */
  z-index: 0;
  width: .5rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100px;
  background-color: #000;
  z-index: 10;
  opacity: 1;
  transition: position 1s;
  /* visibility: hidden; */
}




.big-circle {
  border: 2px solid var(--secondary-color);
  width: 100rem;
  height: 100rem;
  border-radius: 50%;
  z-index: -50;
}
.big-circle-1 {
  position: absolute;
  top: -50%;
  left: -50%;
}

.big-circle-2 {
  position: absolute;
  top: 50%;
  right: -50%;
}
.hero-section {
  width: 100%;
  height: 75vh;

  overflow-x: hidden;
}

.hero-section h1,
.tag-line {
  width: 100%;
  text-align: center;
}

.heading-main-section {
  width: 100%;
  height: fit-content;
  padding: 5rem 0;
  margin-top: 10vh;
}

.main-heading {
  font-size: 8rem;
}
.tag-line {
  font-size: 4rem;
}

.animation-heading-1 {
  animation: animationHeading1 4s ease-in-out;
  animation-delay: 1s;
  opacity: 0;
  /* color : var(--tertiary-color); */

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.animation-heading-2 {
  animation: animationHeading2 4s ease-in-out;
  animation-delay: 5.2s;
  opacity: 0;
  /* color : var(--tertiary-color); */

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes animationHeading1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(30vh);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    opacity: 0;
    transform: rotate(-110deg);
    position: absolute;
    top: 50%;
    left: -50%;
    transform-origin: 0%;
  }
}

@keyframes animationHeading2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(30vh);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    opacity: 0;
    transform: rotate(90deg);
    left: 90%;
    transform-origin: 100%;
  }
}

.main-heading-animation {
  opacity: 1 !important;
  transform: translateX(0) !important;
  transition: 1s;
}

.services-section {
  width: 90%;
  margin: 0 auto;
}
.services {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  /* overflow: hidden; */
}
.services-section h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.services > div {
  cursor: default;
  /* border: 2px solid black; */
  height: 30rem;
  /*width: 30rem; */
  text-align: center;
  padding: 2rem;
  color: transparent;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
  border-radius: 1rem;
  /* background-image: url(https://i.pinimg.com/originals/3f/7e/0a/3f7e0a1a2c272567c1f4c922cf446e4e.png); */
  background-position: center;
}
.grid-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(190, 32, 196, 0.4),
      rgba(129, 59, 126, 0.4)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2IYVtcy70aKCIKo5iHU46mB_1OjlWO9fW2A&usqp=CAU);
  background-repeat: no-repeat;
  border: 1px solid purple;
}

.grid-1:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.8),
      rgba(14, 13, 13, 0.8)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2IYVtcy70aKCIKo5iHU46mB_1OjlWO9fW2A&usqp=CAU);
  border: none;
}

.grid-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0),
      rgba(14, 13, 13, 0)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8tniePQX-6kJNYXguJW9SV8uqc2IYC5-Wdg&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-2:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.8),
      rgba(14, 13, 13, 0.8)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8tniePQX-6kJNYXguJW9SV8uqc2IYC5-Wdg&usqp=CAU);
}

.grid-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0),
      rgba(14, 13, 13, 0)
    ),
    url(../assets/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-3:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.8),
      rgba(14, 13, 13, 0.8)
    ),
    url(../assets/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-4 {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0),
      rgba(14, 13, 13, 0)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4cMLxD6Xrx-1lYgCK8i6q2AXRZ6IXwrarlA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-4:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.8),
      rgba(14, 13, 13, 0.8)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4cMLxD6Xrx-1lYgCK8i6q2AXRZ6IXwrarlA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-5 {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0),
      rgba(14, 13, 13, 0)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMJ2SY7d6vSRaB3MyMA8m2YLlqCce042cLag&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-5:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.8),
      rgba(14, 13, 13, 0.8)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMJ2SY7d6vSRaB3MyMA8m2YLlqCce042cLag&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-6 {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0),
      rgba(14, 13, 13, 0)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2tfzdREypJaGRj2LSL1kBi2XPT3qr97e2SA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-6:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.8),
      rgba(14, 13, 13, 0.8)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2tfzdREypJaGRj2LSL1kBi2XPT3qr97e2SA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.services > div p {
  margin-top: 3rem;
  text-align: center;
  line-height: 150%;
}
.service-button {
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: 2px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  margin-top: 4rem;
  opacity: 0;
  transition: all 0.5s;
}

.services > div:hover {
  color: #fff;
  transform: scale(1.2);
  z-index: 10;
}

.clients-section {
  height: fit-content;
  /* margin-top: 5rem; */

}

.clients-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;

}
.client-heading{
    font-size: 4rem;
    margin : 10rem 0 5rem 5rem;
}

.card-container{
    width: 25%;
    height: fit-content;
    color : #000;
    margin-bottom: 4rem;
}
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url();
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url();
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
    url();
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}
.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__price-box {
  text-align: center;
  color: #fff;
  line-height: 150%;
  margin-bottom: 8rem;
  /* border: 2px solid black; */
height: fit-content;


}
.card-contact{
  font-size: 2.5rem;
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.card__services-provided {
  font-size: 2rem;
  font-weight: 100;
}


.btn--white{
  display: none;
    font-size:2rem;
    background-color: #fff;
    padding : 1rem 2rem;
    border-radius: 100px;
}

.card-para{
    font-size: 1.7rem;
    line-height: 150%;
    text-align: center;
}


.contact-section{
  width: 85%;
  height: 40vh;
  /* border: 2px solid black; */
  margin: 0 auto;
}

.contact-section h2{
  font-size: 3rem;
  margin-bottom: 6rem;

}

.contact-section>div{
  width: 100%;
  border: inherit;
  height: 20rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}



.contact-section>div div{
  width: 20%;
  border-radius: 1rem;
  height: inherit;
  border: inherit;
  background-color: #000;
  transition: transform .5s;
}

.contact-section>div div:hover{
  transform: translateY(-20%);

}
.contact-section a{
  width: 100%;
  height: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .bi{
  fill: #fff;
  width: 100%;
}

.career-section{
  height: 50vh;
  width : 100%;
  text-align: center;
  /* border: 2px solid black; */
  /* margin-top: 10rem; */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.career-section h3{
  font-size: 5rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /* color : #000; */
}

.career-section button{
  cursor: pointer;
  border: none;
  background-color: #000;
  color : #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  position: relative;
  /* z-index: 10; */
}
