@media screen and (max-width : 480px) {
    
    .mob-nav-btn{
        display: block;
        height: 2rem;
        width: 3rem;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: none;

        position: absolute;
        right: 2%;
        top: 2%;
        
      }

      .mob-nav-btn > span {
          width: inherit;
          height: 3px;
          display: block;
          background-color: #000;
      }
      
      .mobile-nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 80%;
        color: #fff;
        background-color: #000;
        border-radius: 1rem 0 0 1rem;
        transition: transform .5s;
        /* margin-left: auto; */
        z-index: 500;
        position: fixed;
        right : 0;
        top : 0;
        transform: translateX(100%);
      }

      .mobile-nav > span{
          position: absolute;
          left: 5%;
          top : 2%;
          font-size: 3rem;
      }

      .mobile-nav a{
          margin-bottom: 2rem;
          font-size: 3rem;
      }

      .checkbox-container{
             border : 2px solid #fff;

      
      }
      
      .border-style{
        border : 2px solid #000 !important;
      }
      
      .checkbox{
        /* opacity: 0; */
        /* position: relative; */
        position: absolute;
        top : -5%;
        /* left: -3%; */
        z-index: 0;
        width: .5rem;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 100px;
        background-color: #fff;
        z-index: 10;
        opacity: 1;
        transition: position 1s;
        /* visibility: hidden; */
      }
      
      

      .nav-bar{
          display: none;
      }
    .services{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-row-gap  : 5rem;
    }
    .services p{
        font-size: 1.5rem;
    }
    .services > div{
        width: 80%;
        margin:  0 auto;
    
    }
    .service-button {
        margin-top: 2rem;
    }
    
.clients-section {
    width: 100%;
    height: 220vh;
  
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
  }

  .client-heading{
      margin-bottom: 3rem;
  }
  .clients-container{
          flex-direction: column;
        height: fit-content;
  }
  .card-container{
      width: 90%;
      height: fit-content;
  }

  .card{
      width: 100%;
  }
  .contact-section{
      margin-top: 10rem;
      height: 140vh;
  }
  .contact-section>div{
flex-direction: column;
  }
  .contact-section>div div{
    width: 90%;
    margin-bottom: 3rem;
  }
  
  
}